 
@font-face {
  font-family: 'DINWeb';
  src: url('../fonts/DINWeb.woff') format('woff'); /* Pretty Modern Browsers */
  font-weight: 400;
}

@font-face {
  font-family: 'DINWeb-Italic';
  src: url('../fonts/DINWeb-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic; 
}

@font-face {
  font-family: 'DINWeb-Bold';
  src: url('../fonts/DINWeb-Bold.woff') format('woff');
  font-weight: 700;
}

@font-face {
  font-family: 'Brandon_lightWeb';
  src: url('../fonts/Brandon_lightWeb.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Brandon_lightWeb.woff') format('woff');
  font-weight: 300; 
}

/*font styles*/
h1 {
	font-family: 'Brandon_lightWeb', sans-serif;
	margin-top: 0;
      font-size: 1.56em;
      font-weight: bold;
      line-height: 1.25em;
      color: #988F86;
}
h2 {
	font-family: 'DINWeb-Bold', sans-serif;
      font-size: 1em;
      line-height: 1.25em;
      color: #58595B;
      margin-top: 40px;
}
p {
	font-family: 'DinWeb';
	font-size: 1em;
	color: #988F86;
	line-height: 1.25em;
}
.body-copy {
	font-size: .75em;
	color: #58595B !important;
	
}

/*main styles*/
.innerdiv { 
  max-width: 1024px;
  padding: 30px 30px;
  margin: 0 auto

}
.header .abp-logo {
	width:30%;
	max-width: 500px;
	float: left;
}.main-logo {
	max-width: 100%;
		
}
.main-desc {
	float: right;
	width: 47%;
	padding-left: 5px;
}
.brands {
	clear: both;
	padding-top: 35px;
	width: 95%;
	margin: 0 auto;
	display: flex;
	
}
.cover-img {
		width: 100%;
		max-height: 250px;
		overflow: hidden;
	}
.block.azek {
	float:left;
	width: 48%;
	background-color: #E4E4E4;
}
.block.timbertech {	
	float:right;
	width: 48%;
	max-height: 628px;
	background-color: #E4E4E4;
	margin-left: 4%;
}
.cover-img img{
	width:100%;
	
	}
.content {
	padding: 25px 25px;}
.logo img {
	width: 40%;
	height: auto;
}
.button {
	font-family: 'DINWeb', sans-serif;
    font-size: 0.7rem;
    font-weight: 700;
    text-transform: uppercase;
	padding: 10px 10px;
    height: auto;
    width: auto;
    display: inline-block;
    color: #fff;
    text-decoration: none;
	float: right;	
}
.btn-blue {background: #005BBB;}
.btn-red {background: #DC5034;}
.product-links {
	position: relative;
    bottom: 0;
}
.product-links a {
	font-size: .9em;
	color: #58595B;
	text-transform: capitalize;
	text-decoration: none;
}
.azek .product-links a:hover {
	font-size: .9em;
	color: #005BBB;
	text-decoration: underline;
}
.timbertech .product-links a:hover {
	font-size: .9em;
	color: #DC5034;
	text-decoration: underline;
}
/*media screens*/
@media only screen and (max-width: 620px) {
	h1 {font-size: 1.2em;}
 	.block.azek, .block.timbertech  {
	 	width: 100% !important;
	 	float: none;
	 }
	 .block.timbertech{
	 	margin-left: 0 !important;}
 	 .abp-logo {width: 70% !important;}
	.cover-img {
		height: 155px !important;
	}
	 .brands {display: block;}

}
@media only screen and (max-width: 780px) {
	h2 {font-size: .9em;}
	 .header .abp-logo, .main-desc {float: none;}
	 .main-desc {
		 width: 85%;
		 float: none;}
	 .block {width:100%;}
	 .brands {
		 padding-top: 50px;
		}
}
@media only screen and (max-width: 830px) {
 	 .main-desc {
	 	 width: 100% !important;
		 padding-top: 30px;}
}